apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: idp-service
  description: The official IDP Service REST APIs
  tags:
    - java
    - rest
spec:
  type: openapi
  lifecycle: production
  owner: idmbackend
  definition: |
    openapi: 3.0.3
    x-stoplight:
      id: q0pbqzd9uictu
    info:
      title: Harness NextGen Software Delivery Platform API Reference
      version: '1.0'
      description: This is the Open Api Spec 3 for the IDP Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
      contact:
        name: API Support
        email: contact@harness.io
        url: 'https://harness.io/'
    servers:
      - url: 'https://app.harness.io'
    paths:
      /v1/backstage-env-variables:
        get:
          summary: List Backstage Env Variables
          responses:
            '200':
              $ref: '#/components/responses/BackstageEnvVariableResponseList'
          operationId: get-backstage-env-variables
          description: Get all backsage env variables mapping for a given account
          parameters:
            - $ref: '#/components/parameters/AccountHeader'
            - $ref: '#/components/parameters/Page'
            - $ref: '#/components/parameters/Limit'
            - $ref: '#/components/parameters/Sort'
          security:
            - x-api-key: []
          x-internal: true
          tags:
            - BackstageEnvVariable
        post:
          summary: Create Backstage Environment Variable
          operationId: create-backstage-env-variable
          responses:
            '201':
              $ref: '#/components/responses/BackstageEnvVariableResponse'
          description: Creates an backstage environment variable
          parameters:
            - $ref: '#/components/parameters/AccountHeader'
          security:
            - x-api-key: []
          requestBody:
            $ref: '#/components/requestBodies/BackstageEnvVariableRequest'
          x-internal: true
          tags:
            - BackstageEnvVariable
      /v1/onboarding/generate-yaml:
        post:
          summary: Generate YAML Definition for entity
          operationId: onboarding-generate-yaml
          responses:
            '200':
              $ref: '#/components/responses/GenerateYamlResponse'
          tags:
            - OnboardingResource
          x-internal: true
          description: Generate YAML Definition for entity
          security:
            - x-api-key: []
          parameters:
            - $ref: '#/components/parameters/AccountHeader'
          requestBody:
            $ref: '#/components/requestBodies/GenerateYamlRequest'
    components:
      schemas:
        BackstageEnvVariable:
          title: BackstageEnvVariable
          x-stoplight:
            id: mx4577z6q5ui0
          type: object
          description: Backstage Env Variable
          discriminator:
            propertyName: type
            mapping:
              Config: '#/components/schemas/BackstageEnvConfigVariable'
              Secret: '#/components/schemas/BackstageEnvSecretVariable'
          x-examples: {}
          properties:
            identifier:
              type: string
              x-stoplight:
                id: ifbqbz1jlv275
            env_name:
              type: string
              x-stoplight:
                id: 4zuc9epeyht73
            created:
              type: integer
              x-stoplight:
                id: 77v995uneakvt
              format: int64
            updated:
              type: integer
              x-stoplight:
                id: pj181njip2pmz
              format: int64
            type:
              type: string
              x-stoplight:
                id: sjviqf7m7oeff
                type: null
              description: This specifies the type of backstage env variable
              enum:
                - Config
                - Secret
          required:
            - env_name
            - type
        BackstageEnvSecretVariable:
          title: BackstageEnvSecretVariable
          x-stoplight:
            id: vnn39er7ngivm
          x-discriminator-value: Secret
          allOf:
            - $ref: '#/components/schemas/BackstageEnvVariable'
              x-stoplight:
                id: hf1o5948xcd93
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - Secret
                harness_secret_identifier:
                  type: string
                  x-stoplight:
                    id: pu8uqht14yg13
              required:
                - type
                - harness_secret_identifier
          x-examples: {}
        BackstageEnvConfigVariable:
          title: BackstageEnvConfigVariable
          x-stoplight:
            id: 070pc2aob4jhc
          x-discriminator-value: Config
          allOf:
            - $ref: '#/components/schemas/BackstageEnvVariable'
              x-stoplight:
                id: roe9dk8ktccbi
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - Config
                value:
                  type: string
                  x-stoplight:
                    id: 5juxk5r0hnhr5
              required:
                - type
                - value
          x-examples: {}
        BackstageEnvVariableRequest:
          x-stoplight:
            id: a94746e067851
          type: object
          properties:
            env_variable:
              $ref: '#/components/schemas/BackstageEnvVariable'
              x-stoplight:
                id: r2xgjoclqancb
        BackstageEnvVariableBatchRequest:
          type: object
          x-stoplight:
            id: m9tpxiklbpfzk
          properties:
            env_variables:
              x-stoplight:
                id: r2xgjoclqancb
              type: array
              items:
                $ref: '#/components/schemas/BackstageEnvVariable'
                x-stoplight:
                  id: i9tsq5o4dan8z
        BackstageEnvVariableResponse:
          x-stoplight:
            id: e8875709fc5b1
          type: object
          properties:
            env_variable:
              $ref: '#/components/schemas/BackstageEnvVariable'
              x-stoplight:
                id: h1ub7r23fswfs
        BackstagePermissions:
          title: BackstagePermissions
          x-stoplight:
            id: mc6dey4g3grx5
          type: object
          properties:
            identifer:
              type: string
            permissions:
              type: array
              items:
                type: string
            user_group:
              type: string
            created:
              type: integer
              format: int64
            updated:
              type: integer
              format: int64
        BackstagePermissionsRequest:
          title: BackstagePermissionsRequest
          x-stoplight:
            id: ixq59j5xh1mr3
          type: object
          properties:
            data:
              $ref: '#/components/schemas/BackstagePermissions'
        BackstagePermissionsResponse:
          title: BackstagePermissionsResponse
          x-stoplight:
            id: iy9wq68joydm6
          type: object
          properties:
            data:
              $ref: '#/components/schemas/BackstagePermissions'
        StatusInfo:
          title: StatusInfo
          x-stoplight:
            id: ae1f1702dd443
          type: object
          properties:
            current_status:
              type: string
              enum:
                - COMPLETED
                - RUNNING
                - PENDING
                - FAILED
                - NOT_FOUND
              x-stoplight:
                id: qq4g9e4sf19tc
            reason:
              type: string
            updated_at:
              type: integer
              format: int64
              x-stoplight:
                id: fsj3mx8ld952o
        StatusInfoResponse:
          title: StatusInfoResponse
          x-stoplight:
            id: d5b32dc406018
          type: object
          properties:
            status:
              $ref: '#/components/schemas/StatusInfo'
        StatusInfoRequest:
          title: StatusInfoRequest
          x-stoplight:
            id: m2r87gp8mfed7
          type: object
          properties:
            status:
              $ref: '#/components/schemas/StatusInfo'
        NamespaceInfo:
          title: NamespaceInfo
          x-stoplight:
            id: 8ba4gj00yfwre
          type: object
          description: Namespace response body content
          properties:
            account_identifier:
              type: string
              x-stoplight:
                id: f1hxp57bn8wis
            namespace:
              type: string
        NamespaceResponse:
          $ref: '#/components/schemas/NamespaceInfo'
          x-stoplight:
            id: 06dd99ce217ed
          description: Namespace response body
        CatalogConnectorInfo:
          title: CatalogConnectorInfo
          x-stoplight:
            id: k72jbjtz6j5jh
          type: object
          description: Details of IDP catalog connector
          properties:
            connector:
              $ref: '#/components/schemas/ConnectorDetails'
              x-stoplight:
                id: 218l3eejs3pvn
            repo:
              type: string
            branch:
              type: string
            path:
              type: string
          required:
            - connector
            - repo
            - branch
            - path
        HarnessEntitiesCountResponse:
          title: HarnessEntitiesCountResponse
          x-stoplight:
            id: ijtq5yp7m5eim
          type: object
          x-examples: {}
          description: Response for harness entities count that can be imported to IDP
          properties:
            org_count:
              type: integer
              x-stoplight:
                id: lcwk3hlcrqlse
            project_count:
              type: integer
              x-stoplight:
                id: 9iy8ubk7olrqn
            service_count:
              type: integer
          required:
            - org_count
            - project_count
            - service_count
        HarnessEntitiesResponse:
          title: HarnessEntitiesResponse
          x-stoplight:
            id: 06ugy0j5318dr
          type: object
          x-examples: {}
          description: Response for harness entities mapping with backstage entities
          properties:
            harness_backstage_entities:
              x-stoplight:
                id: xrciue3ek36e6
              type: array
              items:
                $ref: '#/components/schemas/HarnessBackstageEntities'
                x-stoplight:
                  id: o4ipievo4uguh
          required:
            - harness_backstage_entities
        ImportEntitiesResponse:
          title: ImportEntitiesResponse
          x-stoplight:
            id: mbqihy6732hau
          type: object
          description: Response for import / save harness entities to IDP
          properties:
            status:
              type: string
          required:
            - status
        EntitiesForImport:
          title: EntitiesForImport
          x-stoplight:
            id: 0gdm8g08cv51p
          type: object
          description: Details of Harness Entities to import
          x-examples: {}
          properties:
            identifier:
              type: string
              minLength: 1
            entity_type:
              type: string
          required:
            - identifier
            - entity_type
        HarnessBackstageEntities:
          title: HarnessBackstageEntities
          x-stoplight:
            id: 7ox4rwh5ho9ue
          type: object
          description: Harness entities mapping with backstage entities
          properties:
            name:
              type: string
            system:
              type: string
            owner:
              type: string
            type:
              type: string
            identifier:
              type: string
            entity_type:
              type: string
          required:
            - name
            - system
            - owner
            - type
            - identifier
            - entity_type
        ConnectorDetails:
          title: ConnectorDetails
          x-stoplight:
            id: t8ug6b9zgqgup
          type: object
          properties:
            identifier:
              type: string
            type:
              type: string
              enum:
                - Github
                - Gitlab
                - Bitbucket
                - AzureRepo
          required:
            - identifier
            - type
          description: Connector details containing identifier and type
        LayoutResponse:
          title: LayoutResponse
          x-stoplight:
            id: 4120n8fn8dfkx
          type: object
        PluginInfo:
          title: PluginInfo
          x-stoplight:
            id: kpoyftiybzwns
          type: object
          properties:
            id:
              type: string
              x-stoplight:
                id: 7bgn328jvn58s
            name:
              type: string
              x-stoplight:
                id: ql3oqpkls4fft
            created_by:
              type: string
              x-stoplight:
                id: l22ptpcecyfoe
            icon_url:
              type: string
              x-stoplight:
                id: 4arnqctb1wfyl
            description:
              type: string
              x-stoplight:
                id: ql3oqpkls4fft
            category:
              type: string
              x-stoplight:
                id: 8rqc7h1vyq7sh
            source:
              type: string
              x-stoplight:
                id: 4arnqctb1wfyl
            image_url:
              type: string
              x-stoplight:
                id: 93hv7yj3dpbnu
            core:
              type: boolean
              x-stoplight:
                id: m6jhd4hiady4t
            enabled:
              type: boolean
              x-stoplight:
                id: 6opetnwiiai53
          required:
            - id
            - name
            - created_by
            - icon_url
            - description
            - category
            - source
            - image_url
            - core
            - enabled
        PluginInfoResponse:
          title: PluginInfoResponse
          x-stoplight:
            id: pjaj5msyanbfi
          type: object
          properties:
            plugin:
              $ref: '#/components/schemas/PluginInfo'
              x-stoplight:
                id: ogk72ix9uoil2
          required:
            - plugin
        PluginDetailedInfoResponse:
          title: PluginDetailedInfoResponse
          x-stoplight:
            id: rp4p3xfki8wrk
          type: object
          properties:
            plugin:
              $ref: '#/components/schemas/PluginDetailedInfo'
              x-stoplight:
                id: ogk72ix9uoil3
          required:
            - plugin
        PluginDetailedInfo:
          title: PluginDetailedInfo
          x-stoplight:
            id: ggn3lgk0pl7jx
          allOf:
            - $ref: '#/components/schemas/PluginDetails'
              x-stoplight:
                id: 8r3tc7aptshub
            - type: object
              properties:
                env_variables:
                  x-stoplight:
                    id: 4tj9fofa4b3hn
                  type: array
                  items:
                    $ref: '#/components/schemas/BackstageEnvSecretVariable'
                    x-stoplight:
                      id: v8fluu5h3dt3n
                saved:
                  type: boolean
                  x-stoplight:
                    id: b06clr6ww9ku0
              required:
                - env_variables
                - saved
        ManualImportEntityRequest:
          title: ManualImportEntityRequest
          x-stoplight:
            id: ssbm06g65ld8t
          type: object
          description: Details of entity to import manually to IDP
          properties:
            yaml:
              type: string
              x-stoplight:
                id: g8wygfate3kph
              description: yaml in form on json
            entity_name:
              type: string
              x-stoplight:
                id: 2axpvz6rwf0ds
          required:
            - yaml
            - entity_name
        LayoutRequest:
          title: LayoutRequest
          x-stoplight:
            id: jfyco0hsivo6b
          type: object
          description: LayoutRequest
          properties:
            name:
              type: string
              x-stoplight:
                id: zvjshp9bal6kq
            id:
              type: string
              x-stoplight:
                id: vy53h9a7l4ij3
            yaml:
              type: string
              x-stoplight:
                id: vrsrw3pv5ga85
            display_name:
              type: string
              x-stoplight:
                id: iubyqrukqnryx
            default_yaml:
              type: string
              x-stoplight:
                id: 9juzgzieo6qnl
            type:
              type: string
              x-stoplight:
                id: jb3f4rk78x16r
        AppConfig:
          title: AppConfig
          x-stoplight:
            id: lxr5mwvtpsibp
          type: object
          x-examples: {}
          properties:
            config_id:
              type: string
              x-stoplight:
                id: 4c46nx9p25z4g
            configs:
              type: string
              x-stoplight:
                id: c376cmcok0i1w
            enabled:
              type: boolean
              x-stoplight:
                id: 5k0msvhe7qhhd
            enabled_disabled_at:
              type: integer
              x-stoplight:
                id: 2kot35661my5o
              format: int64
            created:
              type: integer
              x-stoplight:
                id: 55sswchn2dgls
              format: int64
            updated:
              type: integer
              x-stoplight:
                id: gjoqaxs5xj4g5
              format: int64
            env_variables:
              type: array
              x-stoplight:
                id: rbsynehqc2icl
              items:
                $ref: '#/components/schemas/BackstageEnvSecretVariable'
                x-stoplight:
                  id: h8yoj2ikr9k75
            config_name:
              type: string
              x-stoplight:
                id: jqz82xb7khx5d
          required:
            - config_id
            - configs
            - env_variables
            - config_name
        AppConfigRequest:
          title: AppConfigRequest
          x-stoplight:
            id: xohgavxbwlfjc
          type: object
          properties:
            app_config:
              $ref: '#/components/schemas/AppConfig'
              x-stoplight:
                id: mvm9nhd3eenq6
          required:
            - app_config
        AppConfigResponse:
          title: AppConfigResponse
          x-stoplight:
            id: bu5i92md2mome
          type: object
          properties:
            app_config:
              $ref: '#/components/schemas/AppConfig'
              x-stoplight:
                id: 7rhhzvrxp6grz
          required:
            - app_config
        ConnectorInfoRequest:
          title: ConnectorInfoRequest
          x-stoplight:
            id: ac9uhio4r21e5
          type: object
          properties:
            connector_details:
              $ref: '#/components/schemas/ConnectorDetails'
              x-stoplight:
                id: cfx70t6ohuzrc
        ConnectorInfoResponse:
          title: ConnectorInfoResponse
          x-stoplight:
            id: iq2fsejvdmg8g
          type: object
          properties:
            connector_details:
              $ref: '#/components/schemas/ConnectorDetails'
              x-stoplight:
                id: ictqwjgoxe2bc
          required:
            - connector_details
        Exports:
          title: Exports
          x-stoplight:
            id: qxll6vxpyv7r3
          type: object
          properties:
            pages:
              type: integer
              x-stoplight:
                id: z84hfxygvrde5
            tab_contents:
              type: integer
              x-stoplight:
                id: xsao98zphpvue
            cards:
              type: integer
              x-stoplight:
                id: ksifiqe7f9p5w
            default_entity_types:
              type: array
              x-stoplight:
                id: rubpg21bu2st4
              items:
                x-stoplight:
                  id: kth23yj667xa3
                type: string
            export_details:
              x-stoplight:
                id: xszvlkfetqvdo
              type: array
              items:
                $ref: '#/components/schemas/ExportDetails'
                x-stoplight:
                  id: ypu1bnoyc701c
          required:
            - pages
            - tab_contents
            - cards
            - default_entity_types
            - export_details
        MergedPluginConfigs:
          title: MergedPluginConfigs
          x-stoplight:
            id: vc33058szl2a4
          type: object
          description: Merged Config for all Enabled Plugins.
          properties:
            config:
              type: string
              x-stoplight:
                id: 9tuk5lnb9qem9
            env_variables:
              type: array
              x-stoplight:
                id: rvzbk4sw9nxvp
              items:
                $ref: '#/components/schemas/BackstageEnvSecretVariable'
                x-stoplight:
                  id: lv3438bpnl1d1
          required:
            - config
            - env_variables
      securitySchemes:
        x-api-key:
          name: x-api-key
          type: apiKey
          in: header
    tags:
      - name: AccountInfo
        description: Account Information
      - name: AppConfig
        description: Backstage App Configurations
      - name: BackstageEnvVariable
        description: Backstage Environment Variable
      - name: BackstagePermissions
        description: Backstage Permissions
      - name: ConnectorInfo
        description: Connector Information
      - name: LayoutProxy
        description: Layout Proxy
      - name: Namespace
        description: Backstage Namespace
      - name: OnboardingResource
        description: Onboarding
      - name: PluginInfo
        description: Plugin Information
      - name: Provision
        description: Provision
      - name: StatusInfo
        description: Status Information
      - name: MergedPluginsConfig
        description: Merged Plugins Configurations
